@model QLKhachSan.Models.KhachHang
@{
    ViewData["Title"] = "ProFile";
    Layout = "_LayoutProfile";
}

@{
    var khachHang = ViewBag.KhachHang as QLKhachSan.Models.KhachHang;
<div class="personal__account-security container">
    <div class="row">
        <div class="col-12">
            <div class="item">
                <span class="label">Tên đăng nhập <span class="info">@khachHang.Email</span></span>
            </div>
        </div>
        <div class="col-12">
            <div class="item">
                <span class="label">Mật Khẩu<span class="info">********</span></span>
            </div>
        </div>
        <div class="col-12">
            <div class="item">
                <span class="label">Họ tên<span class="info">@khachHang.TenKh</span></span>
            </div>
        </div>
        <div class="col-12">
            <div class="item">
                <span class="label">
                    Giới tính<span class="info">
                        @{
                            if (khachHang.GioiTinh == 0)
                            {
                                <text>Nam</text>
                            }
                            else
                            {
                                <text>Nữ</text>
                            }
                        }
                    </span>
                </span>
            </div>
        </div>
        <div class="col-12">
            <div class="item">
                <span class="label">Địa chỉ<span class="info">@khachHang.DiaChi</span></span>
            </div>
        </div>
        <div class="col-12">
            <div class="item">
                <span class="label">E-mail <span class="info">@khachHang.Email</span></span>
            </div>
        </div>
        <div class="col-12">
            <div class="item">
                <span class="label">Số điện thoại <span class="info">@khachHang.Sdt</span></span>
            </div>
        </div>
    </div>
</div>
}